services:
    sqlserver:
        image: mcr.microsoft.com/mssql/server:2022-latest
        platform: linux/amd64
        environment:
            ACCEPT_EULA: 'Y'
            MSSQL_SA_PASSWORD: '*RHPbbF@K1GN)Y#)3a+'
        ports:
            - '11433:1433'
        volumes:
            - mssqldata:/var/opt/mssql
volumes:
    mssqldata: {}
